/* a universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* all tags inside the body tag, no matter the level.*/
body {
    background-color: #d9dcd6;
}

/* .class selector .header selects elements within a specific .header class attribute.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* .class selector .header selects  <h1> elements within class .header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*.class selector .header selects  <h1> elements within class .header and class .seo*/*/
.header h1 .seo {
    color: #d9dcd6;
}

/* .class selector .header selects  <div> elements within class .header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* .class selector .header selects  <div> and <ul> elements within class .header*/
.header div ul {
    list-style-type: none;
}

/* .class selector .header selects  <div> <ul> and <li> elements within class .header*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a universal selector a */
a {
    color: #ffffff;
    text-decoration: none;
}

/* a universal selector p */
p {
    font-size: 16px;
}

/* .class selector .hero selects elements within a specific .hero class attribute.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*float layout property specifies that element should float to the left.*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*float layout property specifies that element should float to the right.*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* .class selector .content selects elements within a specific .content class attribute.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* .class selector .benefits selects elements within a specific .benefits class attribute.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* .class selector benefit-lead selects <h3> elements within a specific .benefit-lead class attribute.*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* .class selector .hero selects elements within a specific .hero class attribute.*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* .class selector .service selects elements within a specific .service class attribute.*/
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .class selector .service selects <img> elements within a specific .service class attribute.*/
.service img {
    max-height: 200px;
}

/* .class selector .service selects <h2> elements within a specific .service class attribute.*/
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* .class selector .footer selects elements within a specific .footer class attribute.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* .class selector .footer selects <h2> elements within a specific .footer class attribute.*/
.footer h2 {
    font-size: 20px;
}
